<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>About Blogy</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/cover/"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <!-- <link
      href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css"
      rel="stylesheet"
    /> -->
  </head>

  <body class="text-center">
    <div class="container">
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <%- include('../partials/header') %>

        <main role="main" class="inner cover">
          <h1 class="cover-heading">Welcome to Blogy Posts</h1>
          <p class="lead">
            Blogy is a mini blog that is built with NodeJS on top of the express
            framework. Blogy allows anyone to publish blogs without having to
            undergo any validation.
          </p>
          <p class="lead">
            <a href="/blogs/new" class="btn btn-lg btn-primary"
              >Publish A New Blog</a
            >
          </p>
        </main>

        <%- include('../partials/footer') %>
      </div>
    </div>
  </body>
</html>
